<%- include("../partials/header.ejs") %>

<h1>Create: User</h1>
<form action="/admin-create-user" method="post">
    <section>
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name">
    </section>
    <section>
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" id="last_name">
    </section>
    <section>
        <label for="height">Height (metres): </label>
        <input type="number" name="height" id="height" step="0.01">
    </section>
    <section>
        <label>Dominant arm: </label>
        <input type="radio" id="right" name="dominant_arm" value="right">
        <label for="right">Right</label>
        <input type="radio" id="left" name="dominant_arm" value="left">
        <label for="left">Left</label>
    </section>
    <section>
        <label>Sex: </label>
        <input type="radio" id="male" name="sex" value="male">
        <label for="male">Male</label>
        <input type="radio" id="female" name="sex" value="female">
        <label for="female">Female</label>
    </section>
    <button type="submit">Submit</button>
</form>

<%- include("../partials/footer.ejs") %>