<%- include("../partials/header.ejs") %>

<div class="container">
    <h2>CREATE: Throw</h2>

    <!-- Insert HTML, eg Submission Successful -->

    <form action="/admin-create-throw" method="post">
        <section>
            <label for="user_id">User ID: </label>
            <input type="number" name="user_id" id="user_id">
        </section>
        <section>
            <label>Throw Type: </label>
            <input type="radio" id="standing" name="throw_type" value="standing">
            <label for="standing">Standing</label>
            <input type="radio" id="running" name="throw_type" value="running">
            <label for="running">Running</label>
        </section>
        <section>
            <label for="throw_speed">Throw Speed (km/h): </label>
            <input type="number" name="throw_speed" id="throw_speed" step="0.01">
        </section>
        <button type="submit">SUBMIT</button>
    </form>
</div>

<%- include("../partials/footer.ejs") %>