<%- include("../partials/header.ejs") %>

<h1>Create</h1>
<h3>Create: User</h3>
<form action="/admin-create-user" method="post">
    <section>
        <label for="given-name">Given Name: </label>
        <input type="text" name="givenname" id="given-name">
    </section>
    <section>
        <label for="surname">Surname: </label>
        <input type="text" name="surname" id="surname">
    </section>
    <section>
        <label for="height">Height (metres): </label>
        <input type="text" name="height" id="height">
    </section>
    <section>
        <label for="dominant-arm">Dominant arm: </label>
        <input type="text" name="dominantarm" id="dominant-arm">
    </section>
    <section>
        <label for="sex">Sex: </label>
        <input type="text" name="sex" id="sex">
    </section>
</form>

<h3>Create: Throw Entry</h3>

<%- include("../partials/footer.ejs") %>