<%- include('../partials/header.ejs') %>

<h2>READ: User</h2>

<form action="/admin-read-user" method="get">
    <section>
        <label for="get_by">Search by:</label>
        <select name="get_by" id="get_by">
            <option value="user_id">User ID</option>
            <option value="first_name">First Name</option>
            <option value="last_name">Last Name</option>
            <option value="last_input">Last Input</option>
        </select>
    </section>
    <section>
        <label for="get_user">Input</label>
        <input type="text" name="get_user" id="get_user">
    </section>
    <button type="submit">Submit</button>
</form>

<%- include('../partials/footer.ejs') %>