<table>
    <thead>
        <tr>
            <td class="rank">Rank</td>
            <td>Name</td>
            <td class="velocity">Velocity</td>
        </tr>
    </thead>
    <tbody>
        <% let counter = 1; %>
        <% users.forEach(function(row) { %>
            <tr>
                <td class="rank"><%= counter %></td>
                <td><%= row.first_name %> <%= row.last_name %></td>
                <td><%= row.throw_speed %></td>
            </tr>
            <% counter++; %>
        <% }) %>
    </tbody>
</table>