<link rel="stylesheet" href="./styles/top_nav_bar.css">

<div class="top-nav-bar"> <!-- container -->
    <!-- logo -->
    <div>
        <a href="/" class="top-nav-logo">Velo Vault</a>
    </div> 
    
    <!-- navigation -->
    <div class="nav-links">
        <a href="">Login</a>
    </div> 

</div>

<!-- -->