<%- include('./partials/header.ejs') %>
<%- include('./partials/navigationbar.ejs') %>
<link rel="stylesheet" href="./styles/main.css">
<div class="content">
    <!-- GOAL -->
    <div>
        <h1>ABOUT</h1>
    </div>
    <div>
        <h2>GOAL</h2>
        <p>create visible progression and inspire dodgeball players to throw harder</p>
    </div>

    <!-- Future Goals -->
    <div>
        <h2>FUTURE GOAL</h2>
        <p>create an all-purpose hub convenient for victorian players</p>
    </div>
</div>

<%- include('./partials/footer.ejs') %>