<!-- tabs for insertion -->
<!-- Main HUB -->
<%- include('./partials/header.ejs') %>

<h1>ADMIN</h1>

<form action="/admin-create-user" method="get">
    <section>
        <button type="submit">CREATE</button>
    </section>
</form>

<form action="/logout" method="get">
    <section>
        <button type="submit">Logout</button>
    </section>
</form>

<%- include('./partials/footer.ejs') %>