.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rank {
    text-align: center;
    width: 20%;
}

.speed {
    width: 40%;
}

#filter-by-sex {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-bottom: 0.5rem;
}

#ladder-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

table {
    margin: 0 auto; /* Centers the table horizontally */
}

section {
    margin-bottom:0.5rem;
}

ul {
    list-style-type: none;
}

h1 {
    color: orange;
}

label {
    display: block;
}

input[type="radio"] {
    display: inline-block;
    margin-right: 5px;
  }
  
/* This will make the radio buttons and their labels inline */
label + input[type='radio'] + label {
display: inline;
}