.top-nav-bar {
    display: flex;
    flex-direction: row;
    min-height: 30px;
    max-height: 50px;
    height: 4vh;
    width: 90%;
    margin-top: 5px;

    align-items: center;
    justify-content: space-between;

    border: 1px solid Black;
    overflow: hidden;

    box-sizing: border-box;
}

.top-nav-logo {
    margin-left: 15px;
}

.nav-links > a{
    margin-right: 15px;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

@media(max-width: 400px) {
    .top-nav-bar {
        font-size: 0.75rem;
        width: 95%;
    }
}